html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    background-color: #f5f5f5;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}



blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}


hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-family: 'Verdana', sans-serif;
    font-weight: bold;
    font-size: 5em;
    padding: 1em;
    color: #4F9F60; /* LET ME KNOW IF U CHANGE THIS */
    white-space: nowrap;
    -webkit-text-stroke: 3px black;
    
}

/*
display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
*/

nav {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: green;
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    z-index: 1000   ;

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;
        flex: 1 5 200px;
        li {
            display: inline;
            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                padding: 10px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            a:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
            }
        }
    }
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px 15px;
    width: 200%;
    border: 1px solid #ddd;
    overflow: hidden;
    white-space: nowrap;
}

.search-bar img {
    width: 18px;
    height: auto;
    margin-right: 10px;
}


.search-bar input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    width: 100%;
}

/* Login & Cart Icons */
.nav-icon img {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.nav-icon img:hover {
    opacity: 0.8;
}

.banner{
    width: 100%;
    margin: auto;
}
.noHyper{
    text-decoration: none; 
    color: black;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 10%;
    position: relative;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* grid stuff */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "left-text btn follow"
    "left-text a follow" 
    "left-text a follow"
    "copyright copyright copyright";

    h4{
        color: white;
        font-size: 100%;
    }
    
}

.left{
    grid-area: left-text;
    a{
        text-decoration: none; 
        color: white;
        p{
            margin-top: 3%;

        }

    }
}
#facebook_acc{
    grid-area: facebook;
}
#tiktok_acc{
    grid-area: tiktok;
}
#insta_acc{
    grid-area: insta;
}
#copyright{
    grid-area: copyright;
}

.follow-us{
    grid-area: follow;
    h3{
        display: inline-block;
        padding: 1% 3%;
    }
    
    img {
        width: 40px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0,0);
        padding: 5px;
        transition: 0.3s;
        cursor: pointer;
    }
    
    img:hover {
        opacity: 0.8;
    }
}
.btns {
    display: contents;
    justify-content: space-around;
    margin-bottom: 3%;
    grid-area: btn;
        
    button:hover {
        background-color: rgba(255, 255, 255, 0.2);
        cursor: pointer;
    }
}
.btn{
    
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
    margin-left: 8%;
    height: 100%;
    width: 100%;
}

.sidebar{ /* FOR HAMBURGER MENU*/
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 15%;
    z-index: 999;
    background-color: rgba(256,256,256, 0.2); /* make the rest of website shaded for viablity*/
    backdrop-filter: blur(2px);
    box-shadow: -10px 0 10px black;
    display: none; /* CHANGE TO FLEX FOR JS*/
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5%;
    
    li {
        width: 100%;
        a{
            
            color: black;
            width: 100%;

        }
    }
    li:nth-child(1){
        margin-top: 6%;
    }
}


.logo{
    width: 25%; 
    height: auto; 
    display: block;
    margin: auto;
}
#login{
    text-align: center;


}


.productss {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next row if needed */
    gap: 10px; /* Space between products */
    justify-content: space-around; /* Distributes items evenly */
    text-align: center;
}

.product {
    width: 150px; /* Set a fixed width for each product */
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    img {
        height: 100px;
        width: 100px;
    }
    h5 {
        font-size: 12px; /* Change text size */        
        font-family: monospace; /* Change font style */
        margin-top: 1em; /* Add spacing above the text */
    }
    p {
        font-size: 12px; /* Change text size */
        font-family: monospace; /* Change font style */
        margin-top: 2px; /* Add spacing above the text */
        font-style: italic;
        font-size: bold;
        text-align: left;

    }
}



.otherplat { /*FIX */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px; 
        padding: 1% 0;
}
.otherplat img{ 
    height: 2.5em;
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    border: 3px solid grey;

}
input[type= search]{
     /* float: right; */
     width: 100%;
    background-color: white;
    background-image: url("images\search.png"); /* DOESNT WORK */
    background-position: left;
    background-repeat: none; 
    padding-left: 30px;

}

.circle{
    border-radius: 50%;
} 
.tag {
    background: rgb(168, 1, 1);
    color: rgb(255, 255, 255);
    padding: 2px 6px;
    font-size: 10px;
    border-radius: 3px;
}


@media (mid-width: 1025px){ /* pc*/
    nav{
        display: none;
    }

}
@media (max-width: 1024px){ /* tablet */
    .left{
        grid-area: left-text;
        a{
            text-decoration: none; 
            color: white;
            p{
                margin-top: 10%;
    
            }
    
        }
    }
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: white;
        border: 1px solid white;
        padding: 8px 15px;
        width: 75%;
        margin: 0 auto;
    }
    h1{
        font-size: 4em;
    }

}
@media (max-width: 500px){
   
   .search-bar {
        width: auto; /* Shrinks to fit the icon */
        padding: 10px; /* Smaller padding */
        justify-content: center;
    }

    .search-bar img {
        margin-right: 0; /* Removes margin when input is hidden */
    }

    .search-bar input {
        display: none;
    }
    footer{
        font-size: 12px;
    }
    .follow-us{
        grid-area: follow;
        h3{
            display: inline-block;
            padding: 1% 3%;
        }
        
        img {
            width: 30px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0,0);
            transition: 0.3s;
            cursor: pointer;
        }
        
        img:hover {
            opacity: 0.8;
        }
    
    }
}
